<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoria-1</title>
    <link rel="stylesheet" href="../styles/catalogo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="../styles/categorias.css">
</head>
<body>
    <header>
        <nav class="navbar-dark bg-dark navegacion__1">
            <a href="index.html"><img class="navegacion__img" src="../img/logoFondovacio.png" alt="Logo"></a>
            <div class="navegacion">
                <a class="navegacion__enlases" href="index.html">Inicio</a>
                <a class="navegacion__enlases nav__enlases--activo" href="catalogo.html">Productos</a>
                <a class="navegacion__enlases" href="#">Contacto</a>    
            </div>
        </nav>    
    </header>
    <section class="container-fluid mt-3 g-4">
        <a href="catalogo.html">
            Volver a la pagina Principal
        </a>
        <h2 class="categoria-1">
            Categoria-2
        </h2>
    </section>
    <main class="my-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 md-3 sm-12">
                    <div class="container">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Categorias:
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body categorias">
                                        <div class="categorias__enlases">
                                            <a href="categoria-1.html">Categoria-1</a>
                                        </div>
                                        <div class="categorias__enlases categorias__enlases--activo">
                                            <a href="categoria-2.html">Categoria-2</a>
                                        </div>
                                        <div class="categorias__enlases">
                                            <a href="#">Categoria-3</a>
                                        </div>
                                        <div class="categorias__enlases">
                                            <a href="#">Categoria-4</a>
                                        </div>
                                        <div class="categorias__enlases">
                                            <a href="#">Categoria-5</a>
                                        </div>
                                        <div class="categorias__enlases">
                                            <a href="#">Categoria-6</a>
                                        </div>
                                        <div class="categorias__enlases">
                                            <a href="#">Categoria-7</a>
                                        </div>
                                        <div class="categorias__enlases">
                                            <a href="#">Categoria-8</a>
                                        </div>
                                        <div class="categorias__enlases">
                                            <a href="#">Categoria-9</a>
                                        </div>
                                        <div class="categorias__enlases">
                                            <a href="#">Categoria-10</a>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div><!-- Fin de col-lg-3 -->
                <div class="col-lg-9 md-9 sm-12 container__categoria__1">
                    
                    <div class="card" style="width: 18rem;">
                        <img src="../img/imagen-1.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text text-black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>  <!-- Fin de la clase Card -->
                    <div class="card " style="width: 18rem;">
                        <img src="../img/imagen-1.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text text-black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>  <!-- Fin de la clase Card -->
                    <div class="card" style="width: 18rem;">
                        <img src="../img/imagen-1.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text text-black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>  <!-- Fin de la clase Card -->

                </div> <!-- Fin col-lg-9 -->
            </div>
        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-lg-12 md-12 sm-12 container__catalogo">
                    <div class="card container__categoria__2" style="width: 18rem;">
                        <img src="../img/imagen-1.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text text-black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>  <!-- Fin de la clase Card -->
                    <div class="card" style="width: 18rem;">
                        <img src="../img/imagen-2.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text text-black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>  <!-- Fin de la clase Card -->
                    <div class="card" style="width: 18rem;">
                        <img src="../img/imagen-3.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text text-black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>  <!-- Fin de la clase Card -->
                    <div class="card" style="width: 18rem;">
                        <img src="../img/imagen-4.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text text-black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>  <!-- Fin de la clase Card -->
                </div>   <!-- Fin de la clase col-12 -->
            </div>  <!-- Fin de la clase row -->
        </div> <!-- Fin de la clase container -->
        <div class="container mt-3">
            <div class="row">
                <div class="col-lg-12 md-12 sm-12 container__catalogo">
                    <div class="card container__categoria__2" style="width: 18rem;">
                        <img src="../img/imagen-1.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text text-black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>  <!-- Fin de la clase Card -->
                    <div class="card" style="width: 18rem;">
                        <img src="../img/imagen-2.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text text-black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>  <!-- Fin de la clase Card -->
                    <div class="card" style="width: 18rem;">
                        <img src="../img/imagen-3.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text text-black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>  <!-- Fin de la clase Card -->
                    <div class="card" style="width: 18rem;">
                        <img src="../img/imagen-4.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text text-black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>  <!-- Fin de la clase Card -->
                </div>   <!-- Fin de la clase col-12 -->
            </div>  <!-- Fin de la clase row -->
        </div> <!-- Fin de la clase container -->
    </main>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>